In [3]:
import numpy as np
import pandas as pd

In [6]:
#1
np.random.seed(0) # set a seed for reproducibility
s = pd.Series(np.random.rand(5), name='random')
s

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
Name: random, dtype: float64

In [7]:
type(s)

pandas.core.series.Series

In [8]:
#1
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [10]:
#2
l = ds.tolist()

In [11]:
type(l)

list

In [16]:
#3
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,9])
s1 + s2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [17]:
s1 - s2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [18]:
s1*s2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [19]:

s1/s2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [1]:
#4
#Comparisons ==, <, >

In [4]:
#5
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
result = pd.Series(d)
result

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [5]:
#6
arr = np.array([10, 20, 30, 40, 50])
result = pd.Series(arr)
result

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [14]:
#7
s = pd.Series([100, 200, 'python', 300.12, 400])
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [16]:
pd.to_numeric(s, errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [33]:
#8
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
s = df['col1']
type(s)

pandas.core.series.Series

In [36]:
#9
s = pd.Series([100, 200, 'python', 300.12, 400])
a = np.array(s.values.tolist())
a

array(['100', '200', 'python', '300.12', '400'], dtype='<U32')

In [37]:
#10
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [43]:
pd.concat([pd.Series(s[0]),pd.Series(s[1]),pd.Series(s[2])]).reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [44]:
#10
s.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object