In [2]:
import numpy as np
import pandas as pd

In [6]:
#1
np.random.seed(0) # set a seed for reproducibility
s = pd.Series(np.random.rand(5), name='random')
s

0    0.548814
1    0.715189
2    0.602763
3    0.544883
4    0.423655
Name: random, dtype: float64

In [7]:
type(s)

pandas.core.series.Series

In [8]:
#1
ds = pd.Series([2, 4, 6, 8, 10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [10]:
#2
l = ds.tolist()

In [11]:
type(l)

list

In [16]:
#3
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,9])
s1 + s2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [17]:
s1 - s2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [18]:
s1*s2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [19]:

s1/s2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [1]:
#4
#Comparisons ==, <, >

In [4]:
#5
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
result = pd.Series(d)
result

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [5]:
#6
arr = np.array([10, 20, 30, 40, 50])
result = pd.Series(arr)
result

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [14]:
#7
s = pd.Series([100, 200, 'python', 300.12, 400])
s

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [16]:
pd.to_numeric(s, errors='coerce')

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [33]:
#8
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
s = df['col1']
type(s)

pandas.core.series.Series

In [36]:
#9
s = pd.Series([100, 200, 'python', 300.12, 400])
a = np.array(s.values.tolist())
a

array(['100', '200', 'python', '300.12', '400'], dtype='<U32')

In [37]:
#10
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])

s

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [43]:
pd.concat([pd.Series(s[0]),pd.Series(s[1]),pd.Series(s[2])]).reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [44]:
#10
s.apply(pd.Series).stack().reset_index(drop=True)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [15]:
#11
s = pd.Series(['200','100' ,'python', '500.12', '400'])
s.sort_values(ascending=False)

2    python
3    500.12
4       400
0       200
1       100
dtype: object

In [24]:
#12
s = pd.Series(['100','200' ,'python', '300.12', '400'])
s.append(pd.Series(['500', 'php']))

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

In [37]:
#13
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
s[s<6]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [39]:
#14
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s.reindex(index=['B', 'A', 'C', 'D', 'E'])

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [50]:
#15
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
s.mean()

4.818181818181818

In [51]:
s.std()

2.522624895547565

In [57]:
#16
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])
s1[~s1.isin(s2)]

0    1
2    3
4    5
dtype: int64

In [62]:
#17
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])

In [69]:
u = pd.Series(np.union1d(s1,s2))

In [70]:
i = pd.Series(np.intersect1d(s1,s2))

In [71]:
u[~u.isin(i)]

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [73]:
#18
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
num_series

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

In [81]:
[num_series.min(), num_series.quantile(.25), num_series.median(), num_series.quantile(.75), num_series.max()]

[3.0009381077812103,
 8.094638666640218,
 10.233537051661546,
 12.215377329892807,
 14.612143210254576]

In [82]:
#18 
np.percentile(num_series, q =[0,25,50,75,100])

array([ 3.00093811,  8.09463867, 10.23353705, 12.21537733, 14.61214321])

In [88]:
#19
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
num_series

0     3
1     4
2     2
3     5
4     0
5     1
6     0
7     5
8     8
9     1
10    0
11    7
12    1
13    6
14    8
15    3
16    7
17    2
18    8
19    4
20    1
21    2
22    5
23    3
24    3
25    2
26    8
27    5
28    5
29    7
30    8
31    3
32    7
33    3
34    2
35    4
36    3
37    9
38    2
39    5
dtype: object

In [89]:
num_series.value_counts()

3    7
2    6
5    6
8    5
7    4
1    4
0    3
4    3
9    1
6    1
dtype: int64

In [106]:
#20
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
num_series

0     1
1     4
2     1
3     2
4     2
5     3
6     4
7     2
8     2
9     2
10    1
11    2
12    3
13    2
14    2
dtype: int32

In [107]:
num_series.value_counts()

2    8
1    3
3    2
4    2
dtype: int64

In [108]:
num_series.value_counts().index[:1]
#selects top one

Int64Index([2], dtype='int64')

In [109]:
num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
num_series

0     Other
1     Other
2     Other
3         2
4         2
5     Other
6     Other
7         2
8         2
9         2
10    Other
11        2
12    Other
13        2
14        2
dtype: object